@model DroneFlightLog.Mvc.Models.AddDroneViewModel

@{
    ViewData["Title"] = "Add Drone";
}

<div class="container-fluid">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-md">
                <span style="font-size: 1.2rem"><strong>Add Drone</strong></span>
            </div>
        </div>
        <hr />

        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <div class="row">
                <div class="col-md">
                    <span>@Html.Raw(Model.Message)</span>
                </div>
            </div>
            <br />
        }

        @await Html.PartialAsync("Drone", Model);
    }
</div>
