@using System.Collections.Generic
@using DroneFlightLog.Mvc.Entities
@model List<Location>

@{
    ViewData["Title"] = "Locations";
}

<p class="text-center font-weight-bold">
    <span style="font-size: 1.2rem">
        Flight Locations
    </span>
    <br />
    <small class="text-muted">
        <em>
            Manage the locations at which flights can be recorded
        </em>
    </small>
</p>

<table class="table">
    <tr>
        <th>Name</th>
        <th />
    </tr>
    @if (Model != null)
    {
        foreach (var location in Model)
        {
            <tr>
                <td valign="center">@location.Name</td>
                <td valign="center">
                    <a asp-area="" asp-controller="Locations" asp-action="Edit" asp-route-id="@location.Id">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
            </tr>
        }
    }
</table>

<hr />
<p class="text-right">
    <a class="btn btn-primary" href="/Locations/Add" role="button">Add</a>
</p>
