@model DroneFlightLog.Mvc.Models.EditFlightViewModel

@{
    ViewData["Title"] = "Edit Flight";
}

<div class="container-fluid">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-md">
                <span style="font-size: 1.2rem"><strong>Edit Flight</strong></span>
            </div>
        </div>
        <hr />

        @await Html.PartialAsync("Flight", Model);
    }
</div>
