<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Drone Flight Log</title>
    <link rel="stylesheet" href="~/lib/gijgo/dist/modular/css/core.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/datatables/datatables.min.css" />
    <link rel="stylesheet" href="~/lib/gijgo/dist/modular/css/datepicker.css" />
    <link rel="stylesheet" href="~/lib/gijgo/dist/modular/css/timepicker.css" />
    <script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
    <script src="~/lib/gijgo/dist/modular/js/core.js" type="text/javascript"></script>
    <script src="~/lib/gijgo/dist/modular/js/datepicker.js" type="text/javascript"></script>
    <script src="~/lib/gijgo/dist/modular/js/timepicker.js" type="text/javascript"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Drone Flight Log</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Flights" asp-action="Add">Log Flight</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Flight Search
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="" asp-controller="AllFlights" asp-action="Index">All Flights</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="SearchFlightsByOperator" asp-action="Index">Flights By Operator</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="SearchFlightsByDrone" asp-action="Index">Flights By Drone</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="SearchFlightsByLocation" asp-action="Index">Flights By Locations</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="SearchFlightsByDate" asp-action="Index">Flights By Date</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Data Maintenance
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="" asp-controller="Manufacturers" asp-action="Index">Manufacturers</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Models" asp-action="Index">Models</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Drones" asp-action="Index">Drones</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-area="" asp-controller="Locations" asp-action="Index">Flight Locations</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="FlightProperties" asp-action="Index">Flight Properties</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Operators" asp-action="Index">Operators</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-area="" asp-controller="Maintainers" asp-action="Index">Maintainers</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="LogOut">Log Out</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">Log In</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Drone Flight Log
        </div>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/datatables.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
